<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <p>Main page</p>
    <span sec:authentication="principal.authorities"></span>

    <p>Users</p>
    <ul th:each="user: ${users}">
        <td th:text="${user.id}" />
        <td th:text="${user.username}" />
        <td th:text="${user.email}" sec:authorize access="hasRole('ADMIN')" />
        <td th:text="${user.role}" sec:authorize access="hasRole('ADMIN')" />
    </ul>

    <hr/>
    <form th:action="@{/logout-action}" method="post">
        <p><input type="submit" value="Logout"></p>
    </form>
</body>
</html>